body {
  background-color:#fffbeb;
  text-align: center;
  color: black;
  font-size: large;
}

h1 {
  color: #fbbf24;
  text-align: center;
  margin: auto;
  margin-bottom: 2%;
}

.container {
  background-color: #fffbeb;
  width: 60%;
  height: 100%;
  margin: auto;
}

input,
label {
  display: block;
  margin: auto;
}

input {
  margin-bottom: 0.5rem;
  text-align: center;
}

#check-button {
  display: block;
  margin-bottom: 0.5rem;
  margin: auto;
  background: #fbbf24;
  border: 2px solid #fbbf24;
  border-radius: 0.5rem;
  text-decoration: black;
  font-size: medium;
}

#date-of-birth {
  align-self: center;
  border: solid black 1.5px;
  display: block;
}

#lucky-number {
  align-self: center;
  border: solid black 1.5px;
}

